.blog-header {

    &__title {
        padding: 20px 0;
        color: $color-sea-green;
        font-family: $font-cursive;
        font-size: 64px;
        text-shadow: 0 0 3px #000000;
        text-align: center;
        background-color: $color-sea-green;
        animation: title-color 20s ease infinite;
        user-select: none;
    }
    &__nav {
        border: 1px solid darken($color: $color-sea-green, $amount: 10%);
        border-left: none;
        border-right: none;
    }
}


.blog-nav {
    background-color: $color-sea-green;
    border-left: none;
    border-right: none;
    &__list {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
        list-style: none;

    }
    &__item {
        flex: 1;
        transition: background-color 0.2s ease-in;
        &:hover {
            background-color: darken($color: $color-sea-green, $amount: 10%);
        }
    }
    &__link {
        display: block;
        padding: 8px 4px;
        color: #ffffff;
        text-decoration: none;
    }
}

.blog {
    position: relative;
    &__background {
        background-color: $color-background-light;
    }
    &__inner {
        padding: 20px 0;
    }
    &__articles {
        max-width: 900px;
        margin: 0 auto;
    }
}


.blog-article {
    margin-bottom: 40px;
    color: $color-text;

    &__header {
        margin-bottom: 10px;
        text-align: center;
    }
    &__title {
        color: $color-text;
        font-size: 1.8em;
    }
    &__subtitle {
        color: $color-text-light;
    }
    &__image {
        display: block;
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;
    }
    &__desc {

        h3,
        h4,
        h5
        {
            margin-bottom: 5px;
            color: $color-sea-blue;
        }
        ul,
        ol {
            margin-bottom: 10px;
            padding-left: 25px;
        }

        p {
            margin-bottom: 15px;
        }
    }

}