.blog-header {
    position: relative;
    min-height: 100vh;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;

    &__background {
        background-color: $color-background-light;
        background-image: url('../images/background/header-background-min.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__title {
        padding-top: 20px;
        color: $color-sea-green;
        font-family: $font-cursive;
        font-size: 4em;
        text-shadow: 0 0 4px #000000;
        animation: title-color 20s ease infinite;
        user-select: none;
    }
    &__subtitle {
        display: block;
        padding-bottom: 20px;
        margin-bottom: 20px;
        color: $color-sea-blue;
        font-family: $font-cursive;
        font-size: 2.5em;
        letter-spacing: 2px;
        text-shadow: 0 0 3px #000000;
        user-select: none;
    }
    &__slogan {
        display: block;
        margin-bottom: 20px;
        font-family: $font-cursive;
        color: $color-text-light;
        font-size: 2em;

    }
    &__nav {
        max-width: 50%;
        margin-left: auto;
        margin-bottom: 150px;
    }
    &__button {
        margin-bottom: 20px;
    }
    &__button--hidden {
        opacity: 0;
    }
}



.blog-nav {
    position: relative;
    background-color: rgba($color: $color-sea-blue, $alpha: 0.7);
    border-radius: 25px;
    &__toggle {
        display: none;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        background-color: transparent;
        background-image: url('../images/icons/soap-burger.svg');
        background-size: cover;
        border: none;
    }
    &__list {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
        list-style: none;
    }

    &__item {
        position: relative;
        flex: 1;
        transition: background-color 0.2s ease-in, transform 0.3s linear;
        &:first-child {
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }
        &:last-child {
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
        }
        &:hover,
        &:focus {
            background-color: darken($color: $color-sea-blue, $amount: 10%);
        }
        &:hover > .blog-nav__dropdown {
            display: block;
        }
        &:focus-within > .blog-nav__dropdown {
            display: block;
        }
        

    }
    &__link {
        display: block;
        padding: 8px 4px;
        color: #ffffff;
        text-decoration: none;
    }
    &__dropdown {
        position: absolute;
        display: none;
        z-index: 99;
        width: 100%;
    }
}


.blog-nav-dropdown {
    text-align: left;
    background-color: $color-sea-blue;
    background-color: rgba($color: $color-sea-blue, $alpha: 0.7);
    box-sizing: border-box;
    box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.3);
    &__list {
        list-style: none;
    }
    &__item {
        border-top: 1px solid darken($color: $color-sea-blue, $amount: 10%);
    }
    &__link {
        display: block;
        padding: 10px 8px;
        color: #ffffff;
        text-decoration: none;
        transition: background-color 0.2s ease-in;
        &:hover {
            background-color: darken($color: $color-sea-blue, $amount: 10%);
        }
    }
}



.blog-slider {
    margin-bottom: 20px;
    padding: 20px 0;
    &__image {
        position: relative;
        display: block;
        margin: 0 auto;
        max-width: 300px;
        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            bottom: -30px;
            left: -20%;
            right: -20%;
            height: 200px;
            background-image: url('../images/slider/shadow.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .slick-slide {
        outline: none;
    }
}



.blog {
    position: relative;
    &__background {
        background-color: $color-background-light;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 600px;
            height: 373px;
            background: url('../images/background/blowing-bubbles.png');
            background-size: contain;
            opacity: 0.2;
        }
    }
    &__inner {
        padding: 20px 0;
    }
    &__articles {
        max-width: 1200px;
        margin: 0 auto;
    }
    &__articles--small {
        display: flex;
        flex-wrap: wrap;
    }
}


.blog-article {
    position: relative;
    margin-bottom: 30px;
    color: $color-text;

    &__header {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 0.7em 1em;
        background-color: rgba($color: $color-sea-blue, $alpha: 0.9);
        border-radius: 15px;
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);

    }
    &__title {
        color: $color-text;
        font-size: 1.5em;
    }
    &__subtitle {
        color: #ffffff;
    }
    &__content {
        position: relative;
        background-color: rgba($color: #ffffff, $alpha: 0.7);
        border-radius: 15px;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
    }
    &__image {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    &__text {
        padding: 20px;

        h3,
        h4,
        h5
        {
            margin-bottom: 5px;
            color: $color-sea-blue;
        }
        ul,
        ol {
            margin-bottom: 10px;
            padding-left: 25px;
        }

        p {
            margin-bottom: 15px;
        }
    }
    &__link {
        position: absolute;
        left: 10px;
        bottom: 10px;
        text-decoration: none;
    }
}
.blog-article--small {
    display: flex;
    flex: 1 0 40%;
    min-width: 350px;
    margin: 0 10px 30px;
}
.blog-article--small .blog-article__content {
    padding-bottom: 50px;
}

@include media(1024) {
    .blog-header {
        &__nav {
            max-width: 100%;
        }
    }
    .blog {
        &__background {
            &::after {
                width: 300px;
                height: 187px;
                background: url('../images/background/mobile/blowing-bubbles-mobile.png');
            }
        }
    }
}

@include media(767) {

    .blog-nav {

        &__toggle {
            display: block;
        }
        &__list {
            position: absolute;
            z-index: 999;
            top: 50px;
            left: 0;
            flex-direction: column;
            width: 200px;
            transition: transform 0.5s ease-in;
            transform: translateX(-100%);
        }
        &__list--active {
            transform: translateX(0);
        }
        &__item {
            background-color: $color-sea-blue;
            transform: translateX(-100%);
            &:first-child,
            &:last-child {
                border-radius: 0;
            }
            
            &:not(:last-child) {
                border-bottom: 1px solid darken($color: $color-sea-blue, $amount: 10%);
            }
        }
        &__item--active {
            transform: translateX(0);
        }
        &__dropdown {
            position: relative;
        }
    }
    .blog-nav-dropdown {
        box-shadow: none;
    }

}


@include media(600) {

    .blog-header {
        padding: 0;
        &__nav {
            max-width: 100%;
            margin: 0;
        }
        &__title {
            font-size: 2.2em;
            text-shadow: 0 0 2px #000000;
        }
        &__subtitle {
            padding-bottom: 0;
            font-size: 1.5em;
            text-shadow: none;
        }
        &__slogan {
            font-size: 1.5em;
        }
    }

    .blog-nav {
        border-radius: 0;
        &__list {
            width: 100%;
        }
    }

    .blog-slider {
        padding: 0;
        &__image {
            max-width: 200px;
            &::before {
                display: none;
            }
        }
    }

    .blog {
        &__inner {
            padding: 40px 0 10px;
        }
    }

    .blog-article {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
        &__header {
            top: -30px;
            right: 10px;
            font-size: 0.8em;
        }
        &__text {
            padding: 10px;
        }
    }


}