h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}

.page {
    font-family: $font-main;
    font-size: 16px;
}

.all-wrapper {
    overflow: hidden;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 10px;
}

.background {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}