body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
}

.page--modal-open {
    overflow: hidden;
    padding-right: 17px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    bottom: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
    font-family: $font-main;
    font-size: 16px;
}

.all-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 10px;
}

.background {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



@include media(767) {
    button,
    a {
        outline: none;
    }
}