.fade {
    position: absolute;
    top: 2%;
    left: 0;
    display: none;
    width: 20%;
    min-width: 150px;
    background-size: cover;
    transform: scale(0.5);
    transition: transform 1s;
    &::before {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
}

//first slider fade images
.fade-white {
    background-image: url('../images/soap-base/soap-base-1.png');
}
.fade-active {
    left: initial;
    right: 0;
    background-image: url('../images/soap-base/soap-base-2.png');
}
.fade-milk {
    top: 12%;
    background-image: url('../images/soap-base/soap-base-3.png');
}

//second slider fade images
.fade-coffee {
    top: 33%;
    left: -5%;
    background-image: url('../images/aroma/fade/coffee-fade.png');
}
.fade-orange {
    top: 40%;
    left: initial;
    right: -5%;
    background-image: url('../images/aroma/fade/orange-fade.png');
}
.fade-strawberry {
    top: 45%;
    left: -10%;
    background-image: url('../images/aroma/fade/strawberry-fade.png');
}

//third slider fade images
.fade-argan {
    top: 63%;
    background-image: url('../images/oil/fade/argan-fade.png');
}
.fade-coconut {
    z-index: 5;
    top: 65%;
    left: initial;
    right: -5%;
    background-image: url('../images/oil//fade/coconut-fade.png');
}
.fade-shea {
    top: 75%;
    background-image: url('../images/oil//fade/shea-fade.png');
}


.fade-scale {
    transform: scale(1);
}