.faq {
    position: relative;
    min-height: 50vh;
    &__background {
        background-color: $color-background-light;
    }
    &__inner {
        padding: 30px 0;
    }
    &__accordion {
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
    }
}