.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 40px;
    font-family: $font-cursive;
    font-size: 32px;
    text-align: center;

    &__background {
        background: linear-gradient(235deg, $color-sea-green, $color-sea-blue);
        background-size: 300%;
        animation: background 20s ease infinite;
        // clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0 90%);

    }
    &__background-bubble {
        background: 
                    url('../images/bubbles/bubble-1.png'),
                    url('../images/bubbles/bubble-2.png'),
                    url('../images/bubbles/bubble-3.png'),
                    url('../images/bubbles/bubble-4.png'),
                    url('../images/bubbles/bubble-1.png'),
                    url('../images/bubbles/bubble-2.png'),
                    url('../images/bubbles/bubble-3.png'),
                    url('../images/bubbles/bubble-4.png'),
                    url('../images/bubbles/bubble-1.png'),
                    url('../images/bubbles/bubble-2.png'),
                    url('../images/bubbles/bubble-3.png'),
                    url('../images/bubbles/bubble-1.png'),
                    url('../images/bubbles/bubble-3.png'),
                    url('../images/bubbles/bubble-1.png');
        background-repeat: no-repeat;
        background-position: 
                            top 10% left 7%,
                            top 65% right 27%,
                            top 55% left 30%,
                            top 65% left 40%,
                            top 90% left 35%,
                            top 5% right 22%,
                            top 55% right 16%,
                            top 75% left 12%,
                            top 35% left 17%,
                            top 25% right 5%,
                            top 25% right 30%,
                            top 10% left 40%,
                            top 55% left -7%,
                            top 100% right 25%;
        
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 90px;
            background: url('../images/background/bg-bottom.png') no-repeat;
            background-size: contain;
            background-position: bottom;
        }
    }
    &__title {
        margin: 10px;
        color: $color-sea-green;
        text-shadow: 0 0 3px #000000;
        animation: title-color 20s ease infinite;
    }

}


@keyframes background { 
    0% {
        background-position:0% 100%;
    }
    50% {
        background-position:100% 0%;
    }
    100% {
        background-position:0% 100%;
    }
}


@keyframes title-color {
    0% {
        color: $color-sea-green;
    }
    50% {
        color: $color-sea-blue;
    }
    100% {
        color: $color-sea-green;
    }
}


@include media(1024) {
    .header {
        &__background-bubble {
            background: 
            url('../images/bubbles/min/bubble-1-min.png'),
            url('../images/bubbles/min/bubble-2-min.png'),
            url('../images/bubbles/min/bubble-3-min.png'),
            url('../images/bubbles/min/bubble-4-min.png'),
            url('../images/bubbles/min/bubble-1-min.png'),
            url('../images/bubbles/min/bubble-2-min.png'),
            url('../images/bubbles/min/bubble-3-min.png'),
            url('../images/bubbles/min/bubble-4-min.png'),
            url('../images/bubbles/min/bubble-1-min.png'),
            url('../images/bubbles/min/bubble-2-min.png'),
            url('../images/bubbles/min/bubble-3-min.png'),
            url('../images/bubbles/min/bubble-1-min.png'),
            url('../images/bubbles/min/bubble-3-min.png'),
            url('../images/bubbles/min/bubble-1-min.png');
            background-repeat: no-repeat;
            background-position: 
                                top 10% left 7%,
                                top 65% right 27%,
                                top 55% left 30%,
                                top 65% left 40%,
                                top 90% left 35%,
                                top 5% right 22%,
                                top 55% right 16%,
                                top 75% left 12%,
                                top 35% left 17%,
                                top 25% right 5%,
                                top 25% right 30%,
                                top 10% left 40%,
                                top 55% left -7%,
                                top 100% right 25%;
            
        }
    }
}