.how {
    background-color: $color-background-light;
    counter-reset: number;
    &__inner {
        padding: 20px 0;
        text-align: center;
    }
    &__title {
        margin-bottom: 50px;
    }
    &__row {
        position: relative;
        display: flex;
        justify-content: center;
        &:not(:last-child) {
            margin-bottom: 100px;
        }
        &::before {
            content: counter(number);
            counter-increment: number;
            position: absolute;
            z-index: 99;
            top: 50%;
            left: 50%;
            color: $color-sea-blue;
            font-size: 10em;
            transform: translate(-50%, -50%);
            opacity: 0.15;
        }
    }
}


.how-item {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    &__caption,
    &__image {
        width: 50%;
        padding: 0 20px;
        box-sizing: border-box;
        &:first-child {
            transform: translateX(-200%);
            opacity: 0;
        }
        &:last-child {
            transform: translateX(200%);
            opacity: 0;
        }
    }
    &__caption {
        display: block;
        font-size: 1.5em;
        transition: transform 0.7s ease-in 0s, opacity 1.4s ease-in 0s;
    }
    &__image {
        transition: transform 0.7s ease-in 0.5s, opacity 1.4s ease-in 0.3s;
    }
}

.fade-in {
    &:first-child {
        transform: translateX(0);
        opacity: 1;
    }
    &:last-child {
        transform: translateX(0);
        opacity: 1;
    }
}


@include media(767) {
    .how {
        &__row {
            &::before {
                font-size: 6em;
            }
        }
    }
    .how-item {
        &__caption,
        &__image {
            padding: 0 5px;
        }
        &__caption {
            font-size: 1em;
        }
    }
}