.ingredients-types {
    position: relative;
    padding: 20px 10px;
    text-align: center;
    &__background {
        background-color: $color-background-light2;
        background-image: 
                    linear-gradient(to bottom,  $color-background-light 0%, 
                                                $color-background-light2 5%, 
                                                $color-background-light2 95%, 
                                                $color-background-light 100%);

    }
    &__inner {

        text-align: initial;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
    }
    &__col {
        width: 50%;
        padding: 10px;
        box-sizing: border-box;
    }
    &__col--order {
        order: 1;
    }
    &__list {
        display: flex;
        justify-content: center;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 25px;
        }
    }
}


.ingredients-types-item {
    height: 100%;
    padding: 0 20px 10px;
    text-align: center;
    border: 1px solid $color-border-light;
    border-radius: 10px;
    transition: box-shadow 0.2s ease-in, border-color 0.3s ease-in;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
        border-color: $color-sea-blue;
        box-shadow: 0 10px 15px rgba($color: #000000, $alpha: 0.15);

    }
}


@include media(1024) {
    .ingredients-types {
        &__col {
            width: 100%;
        }
        &__col--order {
            order: initial;
        }
        &__item {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}


@include media(450) {
    .ingredients-types {
        &__list {
            display: block;
        }
        &__item {
            
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }
    .ingredients-types-item {
        display: flex;
        align-items: center;
        padding: 0px 5px 5px;
        &__image,
        &__title {
            width: 50%;
        }
    }
}