.ingredients-types {
    position: relative;
    padding: 20px 0;
    text-align: center;
    &__background {
        background-color: $color-background-light2;
        background-image: 
                    linear-gradient(to bottom,  $color-background-light 0%, 
                                                $color-background-light2 5%, 
                                                $color-background-light2 95%, 
                                                $color-background-light 100%);

    }
    &__inner {
        text-align: initial;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    &__col {
        position: relative;
        width: 50%;
        padding: 10px 10px 30px;
        box-sizing: border-box;
        overflow: hidden;
    }
    &__col--order {
        order: 1;
    }
    &__list {
        display: flex;
        justify-content: center;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 25px;
        }
    }
    &__desc {
        display: none;
        font-size: 1.2em;
        p {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
    &__desc--active {
        display: block;
    }
}


.ingredients-types-item {
    height: 100%;
    padding: 20px 10px 20px;
    text-align: center;
    border-radius: 10px;
    transition: box-shadow 0.2s ease-in, border-color 0.1s ease-in, background-color 0.1s ease-in;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    &:hover,
    &:focus {
        box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.1);
    }
    &__image {
        pointer-events: none;
    }
    &__image-img {
        user-select: none;
    }
    &__title {
        color: $color-text-light;
        font-size: 1em;
    }
}
.ingredients-types-item--active {
    background-color: rgba($color: $color-border-light, $alpha: 0.2);
}



@include media(1280) {
    .ingredients-types {
        &__col {
            &:first-child {
                width: 65%;
            }
            &:last-child {
                width: 35%;
            }
        }
        &__item {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}


@include media(768) {
    .ingredients-types {
        &__col {
            &:first-child {
                width: 100%;
            }
            &:last-child {
                width: 100%;
            }
        }
        &__col--order {
            order: initial;
        }
    }
}


@include media(450) {
    .ingredients-types {
        &__list {
            display: block;
        }
        &__item {
            
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }
    .ingredients-types-item {
        display: flex;
        align-items: center;
        padding: 0px 5px 5px;
        &__image {
            width: 30%;
        }
        &__title {
            width: 70%;
        }
    }
}