.main {
    position: relative;
    color: $color-text;
    &__inner {
        max-width: 1600px;
        margin: 0 auto;
        padding: 30px 0;
        overflow: hidden;
    }
    &__background {
        background: url('../images/background/main-background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 600px;
            height: 373px;
            background: url('../images/background/blowing-bubbles-min.png');
            background-size: contain;
            opacity: 0.5;
        }
    }
    &__title {
        position: relative;
        margin: 0 10px 60px;
        font-family: $font-cursive;
        font-size: 32px;
        letter-spacing: 2px;
        text-align: center;
        color: #eaeaea;
        text-shadow: 0 0 5px #000000, 0 0 5px #000000;
        &:nth-of-type(2)::before {
            filter: hue-rotate(180deg);
        }
        &:nth-of-type(3)::before {
            filter: hue-rotate(0deg);
        }
        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -50%;
            left: 50%;
            width: 242px;
            height: 90px;
            background: url('../images/background/title-decal.png') no-repeat;
            transform: translateX(-50%);
            opacity: 0.5;
            filter: hue-rotate(235deg);
        }
    }
}


.main-slider {
    position: relative;
    max-width: 900px;
    margin: 0 auto 40px;
    padding: 20px 0;
    border-radius: 5px;
    overflow: hidden;
    &__slide-wrapper {
        filter: drop-shadow(0 0 5px black);
    }
    &__slide {
        position: relative;
        min-width: 280px;
        min-height: 280px;
        margin: 0 10px;
        clip-path: url(#slide-clip);
        overflow: hidden;
        transition: all 1s;
        &:hover .main-slider__desc, &:focus .main-slider__desc {
            opacity: 1;
            text-shadow: 0 0 3px black;
        }
        &:hover .main-slider__img, &:focus .main-slider__img {
            filter: blur(8px);
        }

        //внешний контур слайда
        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: -10px;
            bottom: -10px;
            left: 0;
            right: 0;
            background: linear-gradient(to bottom, rgba(183,222,237,0) 0%,
                                                    rgba(33,180,226,0.3) 50%,
                                                    rgba(113,206,239,0.50) 51%,
                                                    rgba(113,206,239,0.8) 100%);
            filter: blur(3px);
        }

    }
    &__next, &__prev {
        position: absolute;
        top: 50%;
        width: 50px;
        height: 50px;
        border: 0;
        border-radius: 50%;
        background: url('../images/bubbles/min/bubble-2-min.png');
        transform: translateY(-50%);
        transition: box-shadow 0.3s;
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 5px 3px rgba($color: #000000, $alpha: 0.2);
        }
    }
    &__next {
        right: 27%;
    }
    &__prev {
        left: 27%;
    }
    &__img {
        margin: 0 auto;
        transition: all 0.3s ease-in;
    }
    &__desc {
        position: absolute;
        z-index: 3;
        top: 50%;
        display: block;
        width: 100%;
        padding: 0 12%;
        color: #ffffff;
        font-size: 20px;
        text-align: center;
        transform: translateY(-50%);
        box-sizing: border-box;
        transition: all 0.3s ease-in;
        opacity: 0;
    }
}


@include media(767) {
    .main {
        &__background {
            &::after {
                opacity: 0.2;
            }
        }
    }
    .main-slider {
        &__next, &__prev {
            display: none;
        }
    }
}