.main {
    position: relative;
    color: $color-text;
    text-align: center;
    &__inner {
        max-width: 1600px;
        margin: 0 auto;
        padding: 30px 0;
        overflow: hidden;
    }
    &__background {
        background-color: $color-background-light;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &__title {
        margin-bottom: 30px;
    }

}


.main-slider {
    position: relative;
    max-width: 900px;
    margin: 0 auto 40px;
    padding: 20px 0;
    border-radius: 5px;
    &__title {
        position: relative;
        margin: 0 10px 30px;
        font-family: $font-cursive;
        font-size: 32px;
        letter-spacing: 2px;
        text-align: center;
        color: #eaeaea;
        text-shadow: 0 0 5px #000000, 0 0 5px #000000;
        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -50%;
            left: 50%;
            width: 242px;
            height: 90px;
            background: url('../images/background/title-decal.png') no-repeat;
            transform: translateX(-50%);
            opacity: 0.5;
            // filter: hue-rotate(235deg);
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: -10%;
        bottom: -10%;
        left: -10%;
        right: -10%;
        background-image: url('../images/background/slider-min.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }
    &__slide-wrapper {
        padding: 10px 0;
        filter: drop-shadow(0 0 5px black);
        transform: scale(0.7);
        opacity: 0.3;
        transition: all 0.5s ease-in;
        outline: none;
    }
    &__slide-wrapper.slick-center {
        transform: scale(1);
        opacity: 1
    }
    &__slide {
        position: relative;
        min-width: 280px;
        min-height: 280px;
        margin: 0 10px;
        clip-path: url(#slide-clip);
        background-color: rgba($color: $color-sea-blue, $alpha: 0.2);
        overflow: hidden;
        transition: all 1s;
        &:hover .main-slider__desc, 
        &:focus .main-slider__desc {
            opacity: 1;
            text-shadow: 0 0 3px black;
        }
        &:hover .main-slider__img, 
        &:focus .main-slider__img {
            filter: blur(8px);
        }
    }
    &__next, &__prev {
        position: absolute;
        top: 50%;
        width: 50px;
        height: 50px;
        padding: 0;
        border: 0;
        border-radius: 50%;
        background-color: transparent;
        transition: opacity 0.2s ease-in;
        cursor: pointer;
        outline: none;
        opacity: 0.5;
        &:hover,
        &:focus {
            opacity: 1;
        }
    }
    &__next {
        right: 27%;
    }
    &__prev {
        left: 27%;
        transform: scale(-1);
    }

    &__img {
        margin: 0 auto;
        transition: all 0.3s ease-in;
    }
    &__desc {
        position: absolute;
        z-index: 3;
        top: 50%;
        display: block;
        width: 100%;
        padding: 0 12%;
        color: #ffffff;
        font-size: 20px;
        text-align: center;
        transform: translateY(-50%);
        box-sizing: border-box;
        transition: all 0.3s ease-in;
        opacity: 0;
    }

}


@include media(1024) {
    .main-slider {
        &::before {
            background-size: 90%;
        }
        &__next, &__prev {
            display: none;
        }
    }
}


@include media(600) {
    .main-slider {
        &::before {
            background-size: 150%;
        }
    }
}