.main {
    position: relative;
    min-height: 100vh; //delete
    color: $color-text;
    &__inner {
        max-width: 1600px;
        margin: 0 auto;
        padding: 30px 10px;
        overflow: hidden;
    }
    &__background {
        background: url('../images/background/main-background-new.jpg') no-repeat;
        background-size: cover;
        opacity: 0.5;
    }
    &__title {
        position: relative;
        margin: 0 10px 60px;
        font-family: $font-cursive;
        font-size: 32px;
        letter-spacing: 2px;
        text-align: center;
        color: #eaeaea;
        text-shadow: 0 0 5px #000000, 0 0 5px #000000;
        &:nth-of-type(2)::before {
            filter: hue-rotate(180deg);
        }
        &:nth-of-type(3)::before {
            filter: hue-rotate(0deg);
        }
        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -50%;
            left: 50%;
            width: 242px;
            height: 90px;
            background: url('../images/background/title-decal.png') no-repeat;
            transform: translateX(-50%);
            opacity: 0.5;
            filter: hue-rotate(235deg);
        }

    }
}


.main-slider {
    position: relative;
    margin-bottom: 40px;

    &__slide {
        position: relative;
        min-width: 300px;
        min-height: 300px;
        margin: 0 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px 3px rgba($color: #000000, $alpha: 0.3);
        overflow: hidden;
        &:hover::after, &:focus::after {
            opacity: 0.8;
        }
        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: -10px;
            bottom: -10px;
            left: 0;
            right: 0;
            background: linear-gradient(45deg, rgba(183,222,237,0.5) 0%,rgba(33,180,226,0.5) 35%,rgba(33,180,226,0.5) 41%,rgba(113,206,239,0.5) 61%,rgba(183,222,237,0.5) 100%); 
            filter: blur(3px);
        }
        &::after {
            content: '';
            position: absolute;
            z-index: 0;
            top: 25%;
            bottom: 25%;
            left: 10px;
            right: 10px;
            background-color: #303030;
            background: linear-gradient(45deg, rgba(183,222,237,0.5) 0%,rgba(33,180,226,0.5) 35%,rgba(33,180,226,0.5) 41%,rgba(113,206,239,0.5) 61%,rgba(183,222,237,0.5) 100%); 
            border-radius: 5px;
            box-shadow: 0 0 5px 3px rgba($color: #000000, $alpha: 0.3) inset;
            opacity: 0;
            transition: opacity 0.3s ease-in;
        }
    }
    &__next, &__prev {
        position: absolute;
        top: 50%;
        width: 50px;
        height: 50px;
        border: 0;
        border-radius: 50%;
        background: url('../images/bubbles/min/bubble-2-min.png');
        transform: translateY(-50%);
        transition: box-shadow 0.3s;
        cursor: pointer;
        filter: hue-rotate(235deg);
        &:hover {
            box-shadow: 0 0 5px 3px rgba($color: #000000, $alpha: 0.2);
        }
    }
    &__next {
        right: 30%;
    }
    &__prev {
        left: 30%;
    }
    &__img {
        margin: 0 auto;
    }
    &__desc {
        position: absolute;
        z-index: 3;
        top: 50%;
        right: 50%;
        display: block;
        text-align: center;
        transform: translate(50%, -50%);
    }
}