.photo-cards {
    max-width: 1200px;
    margin: 50px auto 0;
    padding: 10px;
    
    &__list {
        display: flex;
        list-style-type: none;
    }
    &__item {
        padding: 10px 10px 40px;
        background-color: #d8d8d8;
        background-image: url('../images/background/photo-card.png');
        border-radius: 5px;
        box-shadow: 0 0 3px 1px rgba($color: #000000, $alpha: 0.5);
        transform-origin: top;
        &:not(:last-child) {
            margin-right: -10%;
        }
        &:first-child {
            transform: rotate(-15deg);
        }
        &:nth-child(2){
            transform: rotate(15deg);
        }
        &:nth-child(3){
            transform: rotate(-20deg);
        }
        &:nth-child(4){
            transform: rotate(15deg);
        }
        &:last-child {
            transform: rotate(-10deg);
        }
    }
    &__image {
        box-shadow: inset 0 0 3px rgba($color: #000000, $alpha: 0.5);
    }
}