.scroll-top {
    position: fixed;
    z-index: 99;
    right: 50%;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background: url('../images/bubbles/min/bubble-2-min.png') no-repeat;
    transform: translateX(50%);
    transition: opacity 1s;
    visibility: hidden;
    opacity: 0;
    &:hover {
        opacity: 1;
    }
    &:hover .scroll-top__svg-path {
        // animation: dash 10s linear forwards;
        stroke-dashoffset: 0;
    }
    &__link {
        display: block;
        
    }
    &__svg-path {
        transition: all 8s;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
    }
}

.scroll-top_active {
    visibility: visible;
    opacity: 0.3;
}



  
@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}