.section-divider {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: -40px;
        width: 100%;
        height: 80px;
        background-image: url('../images/background/leaves.png');
        background-repeat: no-repeat;
    }
}


@include media(600) {
    .section-divider {
        &::before {
            background-image: url('../images/background/mobile/leaves-mobile.png');
        }
    }
}