.soap {
    position: relative;
    padding: 80px 0 60px;
    &__background {
        background-image: url('../images/background/soap-background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: 50%;
    }
    &__inner {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

}


.soap-card {
    @include flex-columns(4,10px);
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    min-width: 300px;
    min-height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.2s ease-in;
    &:hover {
        box-shadow: 0 0 20px rgba(0,0,0, 0.7);
    }
    &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: -10px;
        background-image: url('../images/background/soap-background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: 50%;
        filter: blur(10px);
    }
    &__title {
        text-align: center;
    }
    
}



@include media(1024) {
    .soap {
        &__background {
            background-image: url('../images/background/tablet/soap-background-tablet.png');
        }
        &__inner {
            padding: 0 10px;
        }
    }
    .soap-card {
        @include flex-columns(6,10px);
        &::before {
            background-image: url('../images/background/tablet/soap-background-tablet.png');
        }
    }
}


@include media(767) {
    .soap {
        &__background {
            background-image: url('../images/background/mobile/soap-background-mobile.png');
        }
    }
    .soap-card {
        @include flex-columns(12,10px);
        &::before {
            background-image: url('../images/background/mobile/soap-background-mobile.png');        }
    }
}

