.soap {
    position: relative;
    padding: 60px 0;
    &__background {

    }
    &__inner {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

}


.soap-card {
    padding: 10px;
    border: 1px solid #303030;
    @include flex-columns(4,15px);
    margin-bottom: 30px;
    min-width: 300px;
    box-sizing: border-box;
}



@include media(737) {
    .soap-card {
        @include flex-columns(6,15px);
    }
}