.social {

    &__list {
        display: flex;
        justify-content: center;
        padding: 0 10px;
    }
    &__item {
        list-style: none;
    }
    &__link {
        display: block;
        margin: 0 10px;
        text-decoration: none;
        transition: transform 0.2s ease-in;
        &:hover, &:focus {
            transform: translateY(-3px);
        }
    }
}