.stages {
    background-color: $color-background-light;
    counter-reset: number;
    &__inner {
        padding: 30px 0;
        text-align: center;
    }
    &__title {
        margin-bottom: 50px;
    }
    &__row {
        position: relative;
        display: flex;
        justify-content: center;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        &::before {
            content: counter(number);
            counter-increment: number;
            position: absolute;
            z-index: 99;
            top: 50%;
            left: 50%;
            color: $color-sea-blue;
            font-family: $font-cursive;
            font-size: 10em;
            transform: translate(-50%, -50%);
            opacity: 0.15;
        }
    }
}


.stages-item {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 700px;
    &__caption,
    &__image {
        width: 50%;
        padding: 0 20px;
        box-sizing: border-box;
        &:first-child {
            transform: translateX(-200%);
            opacity: 0;
        }
        &:last-child {
            transform: translateX(200%);
            opacity: 0;
        }
    }
    &__caption {
        display: block;
        color: $color-text;
        font-size: 1.5em;
        transition: transform 0.8s ease-in 0s, opacity 1.4s ease-in 0s;
    }
    &__image {
        transition: transform 0.8s ease-in 0.5s, opacity 1.4s ease-in 0.4s;
        user-select: none;
        pointer-events: none;
    }
}



@include media(767) {
    .stages {
        &__row {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            &::before {
                font-size: 6em;
            }
        }
    }
    .stages-item {
        &__caption,
        &__image {
            padding: 0 5px;
            &:first-child {
                transform: translateX(-100%);
                opacity: 0;
            }
            &:last-child {
                transform: translateX(100%);
                opacity: 0;
            }
        }
        &__caption {
            font-size: 1em;
            transition-duration: 0.6s, 0.9s;
        }
        &__image {
            transition-duration: 0.6s, 0.9s;

        }
    }
}


.fade-in {
    &:first-child {
        transform: translateX(0);
        opacity: 1;
    }
    &:last-child {
        transform: translateX(0);
        opacity: 1;
    }
}