$color-text: #303030;
$color-text-light: #505050;
$color-title: #0c77d6;
$color-sea-green: #4ecead;
$color-sea-blue: #51bee6;
$color-background-light: #f3f9ff;
$color-border-light: #cccccc;

$font-main: 'Roboto', sans-serif;
$font-cursive: 'Lobster', cursive;