body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

.page {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.all-wrapper {
  overflow: hidden;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin-bottom: 20px;
  font-family: "Lobster", cursive;
  font-size: 32px;
  text-align: center;
}

.header__background {
  background: linear-gradient(235deg, #4ecead, #51bee6);
  background-size: 300%;
  -webkit-animation: background 20s ease infinite;
          animation: background 20s ease infinite;
}

.header__background-bubble {
  background: url("../images/bubbles/bubble-1.png"), url("../images/bubbles/bubble-2.png"), url("../images/bubbles/bubble-3.png"), url("../images/bubbles/bubble-4.png"), url("../images/bubbles/bubble-1.png"), url("../images/bubbles/bubble-2.png"), url("../images/bubbles/bubble-3.png"), url("../images/bubbles/bubble-4.png"), url("../images/bubbles/bubble-1.png"), url("../images/bubbles/bubble-2.png"), url("../images/bubbles/bubble-3.png"), url("../images/bubbles/bubble-1.png"), url("../images/bubbles/bubble-3.png"), url("../images/bubbles/bubble-1.png");
  background-repeat: no-repeat;
  background-position: top 10% left 7%, bottom 35% right 27%, bottom 45% left 30%, bottom 35% left 40%, bottom 10% left 35%, top 5% right 22%, bottom 45% right 16%, bottom 25% left 12%, top 35% left 17%, top 25% right 5%, top 25% right 30%, top 10% left 40%, bottom 45% left -7%, bottom 0% right 25%;
}

.header__background-bubble::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  background: url("../images/background/bg-bottom.png") no-repeat;
  background-size: contain;
  background-position: bottom;
}

.header__title {
  margin: 10px;
  color: #4ecead;
  text-shadow: 0 0 3px #000000;
  -webkit-animation: title-color 20s ease infinite;
          animation: title-color 20s ease infinite;
}

@-webkit-keyframes background {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes background {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@-webkit-keyframes title-color {
  0% {
    color: #4ecead;
  }
  50% {
    color: #51bee6;
  }
  100% {
    color: #4ecead;
  }
}

@keyframes title-color {
  0% {
    color: #4ecead;
  }
  50% {
    color: #51bee6;
  }
  100% {
    color: #4ecead;
  }
}

@media screen and (max-width: 1024px) {
  .header__background-bubble {
    background: url("../images/bubbles/min/bubble-1-min.png"), url("../images/bubbles/min/bubble-2-min.png"), url("../images/bubbles/min/bubble-3-min.png"), url("../images/bubbles/min/bubble-4-min.png"), url("../images/bubbles/min/bubble-1-min.png"), url("../images/bubbles/min/bubble-2-min.png"), url("../images/bubbles/min/bubble-3-min.png"), url("../images/bubbles/min/bubble-4-min.png"), url("../images/bubbles/min/bubble-1-min.png"), url("../images/bubbles/min/bubble-2-min.png"), url("../images/bubbles/min/bubble-3-min.png"), url("../images/bubbles/min/bubble-1-min.png"), url("../images/bubbles/min/bubble-3-min.png"), url("../images/bubbles/min/bubble-1-min.png");
    background-repeat: no-repeat;
    background-position: top 10% left 7%, bottom 35% right 27%, bottom 45% left 30%, bottom 35% left 40%, bottom 10% left 35%, top 5% right 22%, bottom 45% right 16%, bottom 25% left 12%, top 35% left 17%, top 25% right 5%, top 25% right 30%, top 10% left 40%, bottom 45% left -7%, bottom -5% right 25%;
  }
}

.main {
  min-height: 100vh;
}

.main-slider {
  position: relative;
  margin-bottom: 20px;
}

.main-slider__slide {
  width: 80px;
  height: 120px;
  margin: 0 10px;
  background-color: #f60;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.main-slider__slide_active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.main-slider__next, .main-slider__prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-slider__next {
  right: 30%;
}

.main-slider__prev {
  left: 30%;
}
/*# sourceMappingURL=style.css.map */