body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

.page {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.all-wrapper {
  overflow: hidden;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin-bottom: 40px;
  font-family: "Lobster", cursive;
  font-size: 32px;
  text-align: center;
}

.header__background {
  background: linear-gradient(235deg, #4ecead, #51bee6);
  background-size: 300%;
  -webkit-animation: background 20s ease infinite;
          animation: background 20s ease infinite;
}

.header__background-bubble {
  background: url("../images/bubbles/bubble-1.png"), url("../images/bubbles/bubble-2.png"), url("../images/bubbles/bubble-3.png"), url("../images/bubbles/bubble-4.png"), url("../images/bubbles/bubble-1.png"), url("../images/bubbles/bubble-2.png"), url("../images/bubbles/bubble-3.png"), url("../images/bubbles/bubble-4.png"), url("../images/bubbles/bubble-1.png"), url("../images/bubbles/bubble-2.png"), url("../images/bubbles/bubble-3.png"), url("../images/bubbles/bubble-1.png"), url("../images/bubbles/bubble-3.png"), url("../images/bubbles/bubble-1.png");
  background-repeat: no-repeat;
  background-position: top 10% left 7%, top 65% right 27%, top 55% left 30%, top 65% left 40%, top 90% left 35%, top 5% right 22%, top 55% right 16%, top 75% left 12%, top 35% left 17%, top 25% right 5%, top 25% right 30%, top 10% left 40%, top 55% left -7%, top 100% right 25%;
}

.header__background-bubble::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  background: url("../images/background/bg-bottom.png") no-repeat;
  background-size: contain;
  background-position: bottom;
}

.header__title {
  margin: 10px;
  color: #4ecead;
  text-shadow: 0 0 3px #000000;
  -webkit-animation: title-color 20s ease infinite;
          animation: title-color 20s ease infinite;
}

@-webkit-keyframes background {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes background {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@-webkit-keyframes title-color {
  0% {
    color: #4ecead;
  }
  50% {
    color: #51bee6;
  }
  100% {
    color: #4ecead;
  }
}

@keyframes title-color {
  0% {
    color: #4ecead;
  }
  50% {
    color: #51bee6;
  }
  100% {
    color: #4ecead;
  }
}

@media screen and (max-width: 1024px) {
  .header__background-bubble {
    background: url("../images/bubbles/min/bubble-1-min.png"), url("../images/bubbles/min/bubble-2-min.png"), url("../images/bubbles/min/bubble-3-min.png"), url("../images/bubbles/min/bubble-4-min.png"), url("../images/bubbles/min/bubble-1-min.png"), url("../images/bubbles/min/bubble-2-min.png"), url("../images/bubbles/min/bubble-3-min.png"), url("../images/bubbles/min/bubble-4-min.png"), url("../images/bubbles/min/bubble-1-min.png"), url("../images/bubbles/min/bubble-2-min.png"), url("../images/bubbles/min/bubble-3-min.png"), url("../images/bubbles/min/bubble-1-min.png"), url("../images/bubbles/min/bubble-3-min.png"), url("../images/bubbles/min/bubble-1-min.png");
    background-repeat: no-repeat;
    background-position: top 10% left 7%, top 65% right 27%, top 55% left 30%, top 65% left 40%, top 90% left 35%, top 5% right 22%, top 55% right 16%, top 75% left 12%, top 35% left 17%, top 25% right 5%, top 25% right 30%, top 10% left 40%, top 55% left -7%, top 100% right 25%;
  }
}

.main {
  position: relative;
  min-height: 100vh;
  color: #303030;
}

.main__inner {
  max-width: 1600px;
  margin: 0 auto;
  padding: 30px 10px;
  overflow: hidden;
}

.main__background {
  background: url("../images/background/main-background.jpg") no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.main__title {
  position: relative;
  margin: 0 10px 60px;
  font-family: "Lobster", cursive;
  font-size: 32px;
  letter-spacing: 2px;
  text-align: center;
  color: #eaeaea;
  text-shadow: 0 0 5px #000000, 0 0 5px #000000;
}

.main__title::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -50%;
  left: 50%;
  width: 242px;
  height: 90px;
  background: url("../images/background/title-decal.png") no-repeat;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.5;
  -webkit-filter: hue-rotate(235deg);
          filter: hue-rotate(235deg);
}

.main-slider {
  position: relative;
  margin-bottom: 40px;
}

.main-slider__slide {
  position: relative;
  min-width: 300px;
  min-height: 300px;
  margin: 0 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.main-slider__slide::before {
  content: '';
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, rgba(183, 222, 237, 0.5) 0%, rgba(33, 180, 226, 0.5) 35%, rgba(33, 180, 226, 0.5) 41%, rgba(113, 206, 239, 0.5) 61%, rgba(183, 222, 237, 0.5) 100%);
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.main-slider__next, .main-slider__prev {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  background: url("../images/bubbles/min/bubble-2-min.png");
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  cursor: pointer;
  -webkit-filter: hue-rotate(235deg);
          filter: hue-rotate(235deg);
}

.main-slider__next:hover, .main-slider__prev:hover {
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}

.main-slider__next {
  right: 30%;
}

.main-slider__prev {
  left: 30%;
}

.main-slider__img {
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */