.contacts {
    align-self: flex-start;
    padding: 10px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-radius: 15px;
    &__list {
        list-style-type: none;
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    &__link {
        position: relative;
        display: inline-block;
        padding-left: 30px;
        color: $color-text;
        color: #ffffff;
        font-weight: bold;
        line-height: 25px;
        text-decoration: none;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 25px;
            height: 25px;
            background-image: url('../images/icons/contacts.svg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    &__link--mail {
        &::before {
            background-position-x: -30px;
        }
    }
}


@include media(600) {
    .contacts {
        text-align: center;
    }
}