.features {
    position: relative;
    padding: 30px 10px 100px;
    text-align: center;
    &__background {
        z-index: 10;
        background-image: url('../images/soap/features-soap.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;
        transform: translateY(50%);
        pointer-events: none;
    }
    &__title {
        margin-bottom: 10px;
        color: $color-text-light;
        font-family: $font-cursive;
        font-size: 2em;
    }
    &__subtitle {
        display: block;
        margin-bottom: 20px;
        font-size: 1em;
    }
    &__desc {

    }
    &__list {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }
    &__item {
        margin: 20px 70px;
        &:first-child,
        &:last-child {
            margin-top: 70px;
        }
    }
    &__title {

    }
    &__subtitle {

    }
}


.feature {
    position: relative;
    width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 50%;
    &__title {
        position: absolute;
        left: 50%;
        bottom: -15%;
        display: block;
        padding: 4px 8px;
        color: #ffffff;
        font-weight: bold;
        text-align: center;
        background-color: rgba($color: $color-text-light, $alpha: 0.7);
        border-radius: 15px;
        transform: translateX(-50%);
        white-space: nowrap;

    }
}
.feature--one {
    background-image: url('../images/icons/features/features.svg');
}
.feature--two {
    background-image: url('../images/icons/features/features.svg');
    background-position-x: -70px;
}
.feature--three {
    background-image: url('../images/icons/features/features.svg');
    background-position-x: -140px;
}
.feature--four {
    background-image: url('../images/icons/features/features.svg');
    background-position-x: -210px;
}