.features {
    position: relative;
    padding: 30px 10px 100px;
    text-align: center;
    background-color: $color-background-light;
    &__background {
        z-index: 0;
        background-image: url('../images/soap/features-soap-min.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;
        transform: translateY(50%);
        pointer-events: none;
    }
    &__title {
        margin-bottom: 10px;
        color: $color-text-light;
        font-family: $font-cursive;
        font-size: 2em;
    }
    &__subtitle {
        display: block;
        margin-bottom: 10px;
        font-size: 0.8em;
        text-transform: uppercase;
    }
    &__desc {
        max-width: 900px;
        margin: 0 auto 20px;
    }
    &__list {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }
    &__item {
        margin: 20px 70px;
        &:first-child,
        &:last-child {
            margin-top: 70px;
        }
    }
}


.feature {
    position: relative;
    width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.7);
    transition: transform 0.5s ease-in, opacity 0.7s ease-in;
    opacity: 0;
    &__title {
        position: absolute;
        left: 50%;
        bottom: -15%;
        display: block;
        padding: 4px 8px;
        color: #ffffff;
        font-weight: bold;
        text-align: center;
        background-color: rgba($color: $color-text-light, $alpha: 0.7);
        border-radius: 15px;
        transform: translateX(-50%);
        white-space: nowrap;

    }
}
.feature--one {
    background-image: url('../images/icons/features/features.svg');
    transform: translateX(-100%);
}
.feature--two {
    background-image: url('../images/icons/features/features.svg');
    background-position-x: -70px;
    transform: translateY(-100%);
}
.feature--three {
    background-image: url('../images/icons/features/features.svg');
    background-position-x: -140px;
    transform: translateY(-100%);
}
.feature--four {
    background-image: url('../images/icons/features/features.svg');
    background-position-x: -210px;
    transform: translateX(100%)
}
.feature--visible {
    opacity: 1;
    transform: translate(0,0);
}



