.page-header {
    position: relative;
    flex-grow: 1;
    min-height: 100vh;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;

    &__background {
        background-color: $color-background-light;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__background--404 {
        background-image: url('../images/background/404.png');
        background-size: auto;
        background-position: center bottom;
    }
    &__title {
        padding-top: 20px;
        color: $color-sea-green;
        font-family: $font-cursive;
        font-size: 4em;
        text-shadow: 0 0 4px #000000;
        animation: title-color 20s ease infinite;
        user-select: none;
    }
    &__subtitle {
        display: block;
        padding-bottom: 20px;
        margin-bottom: 20px;
        color: $color-sea-blue;
        font-family: $font-cursive;
        font-size: 2.5em;
        letter-spacing: 2px;
        text-shadow: 0 0 3px #000000;
        user-select: none;
        transition: transform 0.5s ease-in, opacity 0.7s ease-in;
    }
    &__subtitle--hidden {
        transform: translateY(-100%);
        opacity: 0;
    }
    &__slogan {
        display: block;
        font-family: $font-cursive;
        color: $color-text-light;
        font-size: 2em;
    }
    &__nav {
        max-width: 50%;
        margin-left: auto;
        margin-bottom: 150px;
    }
    &__button {
        margin: 20px 0 20px;
    }
    &__button--hidden {
        opacity: 0;
    }
}
.page-header--blog .page-header__background {
    background-image: url('../images/background/header-background-min.png');
}

.page-header--gallery .page-header__background {
    background-image: url('../images/background/header-background-min.png');
}

.page-header--faq {
    min-height: 30vh;
}

.page-header--404 {
    min-height: auto;
}



@include media(1024) {
    .page-header {
        &__nav {
            max-width: 100%;
        }
    }
}

@include media(767) {

    .page-header {
        padding: 0;
        &__background--404 {
            background-size: contain;
        }
    }
}

@include media(600) {
    .page-header {
        &__nav {
            max-width: 100%;
            margin: 0;
        }
        &__title {
            font-size: 2.2em;
            text-shadow: 0 0 2px #000000;
        }
        &__subtitle {
            padding-bottom: 0;
            font-size: 1.5em;
            text-shadow: none;
        }
        &__slogan {
            font-size: 1.5em;
        }
    }
    .page-header--404 {
        min-height: 70vh;
    }
}