.section-title {
    position: relative;
    display: inline-block;
    color: $color-text-light;
    font-family: $font-cursive;
    font-size: 2em;
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        width: 50px;
        height: 3px;
        background-color: $color-border-light;
        border-radius: 3px;

    }
    &::before {
        left: -60px;
    }
    &::after {
        right: -60px;
    }
}


@include media(600) {
    .section-title {
        &::before,
        &::after {
            display: none;
        }
    }
}