.section-title {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    color: $color-text-light;
    font-family: $font-cursive;
    font-size: 2em;
    letter-spacing: 0.04em;
    border-left: 3px solid $color-border-light;
    border-right: 3px solid $color-border-light;
    border-radius: 100px;
    box-shadow: 5px 0 7px -4px rgba($color: #000000, $alpha: 0.3),
                -5px 0 7px -4px rgba($color: #000000, $alpha: 0.3);

}


@include media(600) {
    .section-title {
        border: none;
        &::before,
        &::after {
            display: none;
        }
    }
}