.subscribe {
    position: relative;
    padding: 60px 10px;
    background-repeat: no-repeat;
    background-position: -100px 20px, right -100px;
    background-image: url('../images/bubbles/bubble.png'), url('../images/bubbles/bubble.png');

    &__background {
        background-image: linear-gradient(90deg, $color-sea-blue 0%, $color-sea-blue 20%, $color-sea-green 100%);
    }
    &__inner {
        display: flex;
        align-items: center;
    }
    &__col {
        padding: 0 20px;
        flex: 1 0 50%;
        box-sizing: border-box;
    }
    &__form {
        position: relative;
        display: inline-block;
    }
    &__title {
        margin-bottom: 10px;
        color: #ffffff;
        text-align: right;
    }
    &__subtitle {
        display: block;
        color: $color-text-light;
        text-align: right;
    }
    &__input {
        min-width: 200px;
        max-height: 43px;
        margin-right: -4px; 
        padding: 10px 20px;
        color: $color-text-light;
        font-family: inherit;
        font-size: inherit;
        border: 2px solid $color-text-light;
        border-radius: 25px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-width: 2px;
        outline: none;
        transition: border-color 0.2s ease-in, box-shadow 0.2s ease-in;
        &:focus {
            border-color: $color-sea-blue;
            box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
        }
        &::placeholder {
            color: inherit;
        }
    }
    &__input--invalid {
        border-color: $color-danger;
        &:focus {
            border-color: $color-danger;
        }
    }
    &__button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left-width: 1px;
        border-color: $color-text-light;
        &:hover {
            border-color: $color-text-light;
        }
    }
    &__info {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        display: block;
        color: $color-danger;
        text-align: center;
    }
}


@include media (1023) {

    .subscribe {
        padding: 30px 10px;
        &__inner {
            display: block;
        }
        &__col {
            text-align: center;
            &:first-child {
                margin-bottom: 20px;
            }
        }
        &__title,
        &__subtitle {
            text-align: center;
        }
        &__subtitle {
            margin-bottom: 10px;
        }

    }
}


@include media(600) {
    .subscribe {
        &__input,
        &__button {
            width: 100%;
            display: block;
            border-radius: 0;
            border-width: 2px;
            box-sizing: border-box;
        }
        &__input {
            border-bottom-width: 1px;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px; 
        }
        &__button {
            border-top-width: 1px;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px; 
        }
    }
}